<!DOCTYPE html>
<html>
<head>
    <!--<meta http-equiv="refresh" content="2">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); /* Adjust the cell size as needed */
            grid-gap: 5px; /* Adjust the gap between cells */
        }

        .grid-item {
            border: 1px solid #000;
            padding: 10px;
            text-align: center;
        }

        .grid-item.active {
            background-color: yellow; /* Adjust the desired color */
        }
    </style>
</head>
<body>
    <h1>Process Status</h1>
    <p>Number of processes: <span id="num-processes"></span></p>
    <p>Desired accesses: <span id="des-accesses"></span></p>
    <p>Processes: <span id="processes"></span></p>
    <p>Processes accesses: <span id="tot-accesses"></span></p>
    <p>Errors: <span id="errors"></span></p>
    <!--<button id="download" onclick="downloadResults('/results_file')">Results</button>-->
    <div class="grid-container" id="grid-container"></div>


    <script>
        // Function to fetch the data from the server and update the values
        function initData() {
            fetch('/init')
            .then(response => response.json())
            .then(data => {
                // document.getElementById('processes').textContent = data.processes;
                document.getElementById('num-processes').textContent = data.num_processes;
                document.getElementById('des-accesses').textContent = data.des_accesses;
                document.getElementById('tot-accesses').textContent = data.tot_accesses;

            })
        }
        function updateData() {
            fetch('/data')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('processes').textContent = data.processes;
                    document.getElementById('errors').textContent = data.errors;
                    document.getElementById('tot-accesses').textContent = data.tot_accesses;
                    // if (data.download) {
                    //     document.getElementById('download').removeAttribute('disabled');
                    // }

                    updateGrid(data.processes);
                });
        }

        function updateGrid(processes) {
            var gridContainer = document.getElementById('grid-container');

            // Clear the existing grid
            gridContainer.innerHTML = '';

            // Calculate the square root of the number of processes
            var N = Math.sqrt(processes.length);

            // Create grid items for each process
            for (var i = 0; i < processes.length; i++) {
                var gridItem = document.createElement('div');
                gridItem.className = 'grid-item';

                // Set the text content of the grid item
                gridItem.textContent = processes[i];

                // Add the 'active' class if the process value is 1
                if (processes[i] === 1) {
                    gridItem.classList.add('active');
                }

                // Append the grid item to the container
                gridContainer.appendChild(gridItem);
            }

            // Set the grid container styles dynamically based on the number of items
            gridContainer.style.gridTemplateColumns = 'repeat(' + N + ', minmax(50px, 1fr))';
        }


        function downloadResults(url) {
            var link = document.createElement('a');
            link.href = url;
            link.download = '';
            link.click();
        }
        // Init first data
        initData();
        // Call the function immediately to populate initial data
        updateData();

        // Set interval to call the function every 4 seconds
        setInterval(updateData, 2500);
    </script>
</body>
</html>
